<div class="row">
<div class="col-md-1"></div>
<div class="col-md-8">
    <div class="panel panel-info">
        <div class="panel-heading">Sign Up</div>
        <div class="panel-body">  
  <form autocomplete="off" [formGroup]="signupForm" (ngSubmit)="signup(signupForm.value)" novalidate>

      <div class="form-group" [ngClass]="{ 'error' : username.invalid && username.dirty }">
          <label for="username">Username:</label>
          <em *ngIf="username.invalid && username.dirty && username.errors.required">Required</em>
          <em *ngIf="username.invalid && username.dirty && !username.errors.required">Username already taken</em>
          <em *ngIf="username.invalid && username.dirty && username.errors.pattern && !username.errors.required">Invalid Username: Must start with letter and must not contain special chars</em>
          <div class="inner-addon left-addon">
              <i class="glyphicon glyphicon-user"></i>  
            <input [ngClass]="{'valid':username?.valid}" formControlName="username" id="username" type="text" class="form-control" placeholder="Username..."  appValidateUsername/>
          </div>
       </div>
    <div class="form-group" [ngClass]="{ 'error' : email.invalid && email.dirty }">
      <label for="email">Email:</label>
      <em *ngIf="email.invalid && email.dirty && email.errors.required">Required</em>
      <em *ngIf="email.invalid && email.dirty && email.errors.email && !email.errors.required">Invalid Email Address</em>
      <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-envelope"></i>  
        <input [ngClass]="{'valid':email?.valid}" formControlName="email" id="email" type="email" class="form-control" placeholder="Email..." />
      </div>
    </div>

    <div class="form-group" [ngClass]="{ 'error' : mobile.invalid && mobile.dirty }">
      <label for="mobile">Mobile:</label>
      <em *ngIf="mobile.invalid && mobile.dirty">Required</em>
      <div class="inner-addon left-addon">
          <i class="glyphicon glyphicon-phone"></i> 
        <input [ngClass]="{'valid':mobile?.valid}" formControlName="mobile" id="mobile" type="number" class="form-control" placeholder="Mobile..." />
    
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'error' : gender.invalid && gender.dirty }">
        <label for="gender">Gender</label>
            <em *ngIf="gender.invalid && gender.dirty">Required</em>
            <div style="height:35px;border:1px solid lightgrey; padding-left:10px;border-radius:5px;">
                <!-- <i class="fa fa-intersex"></i>         -->
              <label for="genderM" class="radio-inline"><input formControlName="gender" id="genderM" type="radio" name="gender" value="male" />Male</label>
              
              
              <label for="genderF" class="radio-inline"><input formControlName="gender" id="genderF" type="radio" name="gender" value="female" />Female</label>
            </div>

    </div>
    <div class="form-group" [ngClass]="{ 'error' : password.invalid && password.dirty }">
            <label for="password">Password:</label>
            <em *ngIf="password.invalid && password.dirty && password.errors.required">Required</em>
           
            <div class="inner-addon left-addon">
                <i class="glyphicon glyphicon-lock"></i>            
              <input  formControlName="password" [ngClass]="{'valid':password?.valid}" type="password" id="password" class="form-control" placeholder="Password..."/>
            </div>
    </div>
    <div class="form-group" [ngClass]="{ 'error' : confirmPassword.invalid && confirmPassword.dirty }">
            <label for="confirmPassword">Confirm Password:</label>
            <em *ngIf="confirmPassword.invalid && confirmPassword.dirty && confirmPassword.errors.required">Required</em>
            <em *ngIf="confirmPassword.invalid && confirmPassword.dirty && !confirmPassword.errors.required && confirmPassword.errors.validatePassword" >Password do not match</em>
            <div class="inner-addon left-addon">
            <i class="glyphicon glyphicon-lock"></i>  
              <input formControlName="confirmPassword" [ngClass]="{'valid':confirmPassword?.valid}" type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password..."/>
    </div>
    </div>      
    <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Save</button>
    <button type="button" [routerLink]="['/home']" data-toggle="modal" data-target="#login" class="btn btn-default">Login</button>
  </form>
        </div>
    </div>
  </div>
</div>
<br/>

